.bgvid video {
    height: 60vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

.bgvid {
    height: 60vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}



.videotext h1 {
    display: flex;
    color:blueviolet;
    z-index: 2;
    font-family: "Robus"; 
    src: url("source/fonts/Robus.ttf") format("truetype"); 
    font-size: 80px;
    text-shadow: 5px 5px 5px #000;
} 


