@import url(https://fonts.googleapis.com/css?family=Michroma&display=swap);

body {
    background: linear-gradient(0deg, #4574E4 0%, #3f0091 95%);
    
}

p {
    color: aquamarine;
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color:rgb(100, 100, 100);
}

.navbar-brand img {
    width: 40px;
}
.navbar-toggler {
    background-color:rgb(136, 136, 136) ;
}

.sidebar {
    color: aquamarine;
    font-family: Michroma, serif;
}
    
.card {
    background: linear-gradient(0deg, #0a4ae0 0%, #26023f 95%);
    box-shadow: 3px 7px 10px 0px #111123;
    color: aquamarine;
    margin-bottom: 20px;
}

.row {
    text-align: center;
}


.card a {
    text-decoration: none;
    color: aquamarine;
}

.slidetext {
    color: aquamarine;
    margin: auto auto;
}

.call {
    animation: myAnim 3s ease 0s infinite normal forwards;    
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}

.foottext {
    padding: 2em;
    color: aquamarine;
    
}

footer a {
    text-decoration: none;
    color: aquamarine;
}

.footimg {
    display: flex;
    justify-content: center;
    align-items: center;
}


    